#jumbotron {
	background-color:#37ACEB;
}


#footer {
	background-color: #605F5E;
}
.blog_entry {
    background-color: #F2F2F2;
    padding: 4px;
    margin: 4px 0px 4px 0px;
    border-radius: 4px;
}

.blog_entry h3 {
    margin: 0px;
}

.blog_entry hr {
    margin: 0px;
}

.blog_entry p {
    margin: 0;
}

.blog_entry .badge-info {
    margin: 2px;
}

.blog_entry h5 a {
	color: #FB3640;
}

.blog_entry .badge-info {
	background-color: #605F5E;
}
