<nav class="navbar navbar-expand-md navbar-dark bg-dark" id="nav">
    <a class="navbar-brand" href="#">Emil Mohammed</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="new_index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="archive.html">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/emilmoham">Github</a>
            </li>
        </ul>
    </div>
</nav>