body {
  background-color: black;
  font-family: Helvetica, sans-serif;
  color: white;
}

#Answer {
  font-size: 20vw;
}

#TimeLeft {
}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
}
